.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 0.5rem;
}

.title {
  font-size: 1.25rem;
  margin: 0;
  font-weight: 500;
  align-self: flex-start;
}

.timeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.time, .date {
  font-size: 1.25rem;
  font-weight: 500;
}

.error {
  color: #ff4444;
  text-align: center;
  font-size: 1.25rem;
  width: 100%;
}

.loading {
  text-align: center;
  opacity: 0.8;
  font-size: 1.25rem;
  width: 100%;
} 